<ion-header>
  <ion-toolbar class="toolbar" no-border>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon" ></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updatePasswordForm" (submit)="updatePassword()">
    <div class="container-fields">
      <ion-label class="update-label">Old Password</ion-label>
      <ion-item lines="none" class="update-item">
        <ion-input
          #passwordField
          class="update-input"
          formControlName="oldPassword"
          [type]="passwordType"
        ></ion-input>
        <label
        *ngIf="updatePasswordForm.controls.oldPassword.value.length > 0"
        class="password-text"
        [class.ios-showHidePassword-label]="isIOS"
        (click)="hideShowPassword()"
        (click)="passwordField.setFocus()"
        >{{ passwordText }}</label
      >
      </ion-item>
      <ion-label class="update-label">New Password</ion-label>
      <ion-item lines="none" class="update-item">
        <ion-input
          #passwordField
          class="update-input"
          formControlName="newPassword"
          [type]="newPasswordType"
        ></ion-input>
        <label
          *ngIf="updatePasswordForm.controls.newPassword.value.length > 0"
          class="password-text"
          [class.ios-showHidePassword-label]="isIOS"
          (click)="hideShowNewPassword()"
          (click)="passwordField.setFocus()"
          >{{ newPasswordText }}</label
        >
      </ion-item>
    </div>
    <ion-button
      expand="full"
      class="update-button"
      [disabled]="!updatePasswordForm.valid"
      type="submit"
      >Update Password
    </ion-button>
  </form>
</ion-content>
