<ion-header no-border>
  <ion-toolbar class="toolbar" no-border>
    <img
      class="logo-mobiquity"
      alt="mobiquity"
      src="assets/images/mobiquitylogo.png"
    />
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="app-title">
    Aarogya Setu App Tracker
  </p>
  <div class="logo-img">
    <img alt="tracking" src="assets/images/tracking.png" />
  </div>
  <form [formGroup]="loginForm" (submit)="submitLoginDetails()">
    <div class="container-fields">
      <ion-label class="login-label">Email Address</ion-label>
      <ion-item lines="none" class="login-item">
        <ion-input
          class="login-input"
          formControlName="email"
          type="email"
        ></ion-input>
      </ion-item>
      <ion-label class="login-label">Password</ion-label>
      <ion-item lines="none" class="login-item">
        <ion-input
          #passwordField
          class="login-input"
          formControlName="password"
          [type]="passwordType"
        ></ion-input>
        <label
          *ngIf="loginForm.controls.password.value.length > 0"
          class="password-text"
          [class.ios-showHidePassword-label]="isIOS"
          (click)="hideShowPassword()"
          (click)="passwordField.setFocus()"
          >{{ passwordText }}</label
        >
      </ion-item>
    </div>
    <ion-button
      expand="full"
      class="complete-checkout-button"
      [disabled]="!loginForm.valid"
      type="submit"
      >SIGN IN
    </ion-button>
  </form>
</ion-content>
