
.logo-img {
  margin: auto;
  width: 60%;
  margin-top: 20%;
}

.login-item {
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;
  height: 82px;
  --show-full-highlight: 0;
  z-index: 1;
  padding-left: 34px;
  padding-right: 30px;
}

.login-item.item-has-focus .login-label,
.login-item.item-has-value .login-label {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  transform: translateZ(0) scale(0.6) translateY(-2px);
  letter-spacing: 1px;
  height: 19px;
  font-size: 17px;
  color: var(--color-black);
  width: auto;
}

.login-label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 24px;
  transform: translateY(32px);
  height: 13px;
  opacity: 0.6;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--color-black);
  z-index: 6;
}

.login-input {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  color: var(--color-black);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  min-height: 52px;
  --padding-start: 24px;
  caret-color: var(--color-black);
  height: 53px;
  border-radius: 100px;
  background-color: #ececec;;
}

.container-fields {
  margin-top: 0px;
}

.sign-in-btn-container {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 1.17px;
  text-align: center;
  color: #fcfcfc;
  margin-top: 25px;
}

.sing-in-btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e87a1e;
  width: 53%;
  margin-bottom: 15px;
  height: 52px;
}

.sing-in-btn[aria-disabled="true"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e87a1e;
  width: 53%;
  margin-bottom: 15px;
}
.app-title {
  font-size: 22px;
  font-weight: bold;
  color: #0066b3;
  text-align: center;
}

.password-text {
  position: absolute;
  right: 29px;
  top: 39px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: right;
  color: var(--color-black);
  z-index: 9;
}

.ios-showHidePassword-label {
  top: 47px;
}