.page {
  --background: #264d73;
}

.toolbar {
  --background: #264d73;
}

.title {
  color: white;
}

.logout-icon {
  margin-right: 15px;;
}

.media-slides.swiper-container,
.slides {
  margin: 20px 20px;
  border-radius: 20px;
}

.slider-img {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8% 31px;
}

.menu {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.menu-card {
  position: relative;
  margin: 7px 7px;
  max-width: 149px;
  max-height: 99px;
  align-self: center;
  justify-self: center;
  background-color: #2d5986;
  width: 200px;
  height: 85px;
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
}

.settings-items {
  --background: #fff;
}

.settings-first-item {
  --background: #fff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.bottom-border {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.statistics-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #fff;
  margin: 0 0 0 5px;
}

.services-label {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #333;
  padding: 25px 0;
  margin: 0 0 0 5px;
}

.toggle-icon {
  margin-right: 5px;
  --background: #E6E7E8;
  --handle-background:  #ccc;
}

.toggle-inner {
  margin-right: 5px;
  --background-checked: #E6E7E8;
  --handle-background-checked: #38a4ff;
}

.device-setting-title {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  letter-spacing: 1.25px;
  text-align: right;
  color: #333;
  margin: 22px 7px 22px 0;
  text-transform: uppercase;
}

.footer-container {  
  bottom: -18px;
  z-index: 5;
  background-color: #264d73;
}