.page {
  --background: #f2f2f2;
}
.menu-icon {
  color: white;
}

.toolbar {
  --background: #009fd5;
}

.title {
  color: white;
}

.logout-icon {
  margin-right: 15px;
  height: 25px;
}

.top-msg {
  --background: #ffe6e7;
  margin-top: 15px;
}

.top-msg-styles {
color: #ff4751;
font-size: 15px;
margin: 0 5px;
padding: 15px 0;
}

.app-name-link {
  text-decoration: underline;
}

.settings-items {
  --background: #fff;
  padding-right: 8px;
}

.bottom-border {
  height: 1px;
  background-color: #ccc;
  margin: 0px 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 31px;
}

.menu {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.menu-card {
  position: relative;
  margin: 10px;
  max-width: 190px;
  max-height: 130px;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  width: 173px;
  height: 126px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 375px) {
  .menu-card { 
    width: 150px;
    height: 126px;
  }
}

.card-title {
  font-size: 15px;
  margin-top: 10px;
}

.total-cases-title {
  color: #ffaf42;
}

.recovered-cases-title {
  color: #00de70;
}

.active-cases-title{
  color: #9b4eff;
}

.death-cases-title {
  color: #ff4751;
}

.statistics-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #3f3f3f;
  letter-spacing: 0.25px;
  margin: 30px 0 0 23px;
}

.settings-heading {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: #333;
  padding: 18px 0;
  margin: 0 0 0 21px;
}

.settings-label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 15px 0;
  margin-left: 5px;
}

.device-settings-container {  
  margin: 0 21px;
  background: #fff;
}

.circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding-top: 31px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 16px Arial, sans-serif;
}

.recovered-cases {
  background: #00de70;
}

.total-cases {
  background: #ffaf42;
}

.active-cases {
  background:  #9b4eff;
}

.death-cases {
  background: #ff4751;
}
