<ion-header no-border>
  <ion-toolbar class="toolbar" no-border>
    <ion-title class="title">
      Welcome {{userName}}
    </ion-title>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-img class="logout-icon" src="assets/images/logout_6.png">
      </ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <ion-item *ngIf="!hardwareSoftwareAvailability.appAvailability" lines="none" class="top-msg">
    <div class="top-msg-styles">  Dear user, please install and use
      <span class="app-name-link" (click)="openPlayStore()">
        Aarogya Setu App</span> for the tracking of covid 19</div>
  </ion-item>
  <div class="settings-heading">Device Settings</div>
  <div class="device-settings-container" no-lines>
    <ion-item lines="none" class="settings-items">
      <ion-label class="settings-label">Location Status</ion-label>
        <div *ngIf="hardwareSoftwareAvailability.locationStatus">ON</div>
        <div *ngIf="!hardwareSoftwareAvailability.locationStatus">OFF</div>
    </ion-item>
    <div class="bottom-border"></div>
    <ion-item lines="none" class="settings-items">
      <ion-label class="settings-label">Bluetooth Status</ion-label>
      <div *ngIf="hardwareSoftwareAvailability.bluetoothStatus">ON</div>
      <div *ngIf="!hardwareSoftwareAvailability.bluetoothStatus">OFF</div>
    </ion-item>
  </div>
  <div class="statistics-title">Covid 19 - Stats</div>
  <div class="search-container">
    <div class="menu">
      <ion-card class="menu-card" *ngFor="let title of cardTitles; let i = index">
          <div class ="circle" [ngClass]="{
            'total-cases': title === 'Confirmed Cases',
            'recovered-cases ': title === 'Recovered Cases',
            'active-cases': title === 'Active Cases',
            'death-cases': title === 'Deaths'
          }"> <ng2-odometer [number]="statisticsData[i]" [config]="config"></ng2-odometer>
          </div>        
        <div class="card-title" [ngClass]="{
          'total-cases-title': title === 'Confirmed Cases',
          'recovered-cases-title': title === 'Recovered Cases',
          'active-cases-title': title === 'Active Cases',
          'death-cases-title': title === 'Deaths'
        }">{{title}}</div>
      </ion-card>
    </div>
  </div>
  
</ion-content>
